@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from { opacity: 0; }
}

@keyframes fade-out {
    to { opacity: 0; }
}

/* define animations for the old and new content */
::view-transition-old(smooth-fade) {
    animation: 150ms linear both fade-out;
}
::view-transition-new(smooth-fade) {
    animation: 150ms linear 30ms both fade-in;
}
  
/* tie the view transition to a given CSS class */
.htmx-body {
    view-transition-name: smooth-fade;
}

@media (min-width: 768px) {
    .park-photo {
        height: 550px;
    }
}

.blaze-slider {
    --slides-to-show: 1;
    --slide-gap: 20px;
    direction: ltr
}

.blaze-container {
    position: relative
}

.blaze-track-container {
    overflow: hidden
}

.blaze-track {
    will-change: transform;
    touch-action: pan-y;
    display: flex;
    gap: var(--slide-gap);
    --slide-width: calc( (100% - (var(--slides-to-show) - 1) * var(--slide-gap)) / var(--slides-to-show) );
    box-sizing: border-box
}

.blaze-track>* {
    box-sizing: border-box;
    width: var(--slide-width);
    flex-shrink: 0
}

.blaze-pagination {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
.blaze-pagination button {
    font-size: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #365314;
    cursor: pointer;
    transition: transform 200ms ease, background-color 300ms ease;
}

.blaze-pagination button.active {
    background: #a3e635;
    transform: scale(1.3);
}

.blaze-slider.start .blaze-prev,
.blaze-slider.end .blaze-next {
    opacity: 0.5;
    cursor: not-allowed;
}
  
.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }